<h1> Google Image Searcher </h1>

<div class ='col-12' align='center'>

<a href='searches/red'</a>
<div class="square red">
</div>

<a href='searches/pink'</a>
<div class="square pink">
</div>

<a href='searches/orange'</a>
<div class="square orange">
</div>

<a href='searches/yellow'</a>
<div class="square yellow">
</div>

<a href='searches/green'</a>
<div class="square green">
</div>

<a href='searches/blue'</a>
<div class="square blue">
</div>

<a href='searches/purple'</a>
<div class="square purple">
</div>

</div>
