<h1> Google Image Searcher </h1>

<div class='square'>

  <a class='red' href='searches/red'>Red</a>
  <a class='pink' href='searches/pink'>Pink</a>
  <a class='orange' href='searches/orange'>Orange</a>
  <a class='yellow' href='searches/yellow'>Yellow</a>
  <a class='green' href='searches/green'>Green</a>
  <a class='blue' href='searches/blue'>Blue</a>
  <a class='purple' href='searches/purple'>Purple</a>

</div>
