h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 400%;
  color: #95a5a6;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 200%;
  color: black;
}

h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 100%;
  color: black;
}
