<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title>Google Image Searcher</title>
    <link rel='stylesheet' type='text/css' href='/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
  <%= yield %>
  </body>
</html>
